@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  width: 100%;
  /* height: 760px; */
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg-color{
  background-color: #1A0B2E;
}
.bg-color-2{
  background-color: #1A0B2E;
}
.bg-color-3{
  background-color: #230E3D;
}
.display-flex{
  display: flex;
}
.nav-bar{
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  height: 92px;
}
.logo{
  font-size: 2rem;
  font-weight: 700;
   color: #FFFFFF
}
.logo-color{
  display: inline-block;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;
  color: transparent;
}
 
.nav-section{
  list-style: none;
  gap: 32px;
}
.nav-link{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
}
.banner{
  width: 100%;
  height: 760px;
  background-image: url("/images/hero-bg.png");
  justify-content: center;
  text-align: center;
  align-items: center;
  background-position: center;
  display: grid;
  flex-direction: column;
}
.banner-heading{
  margin-top: 1px;
  font-size:3.75rem ;
  font-weight: 800;
  color: #FFFFFF;
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 10px;
}
.banner-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 24px;
}
.top-image{
  position: absolute;
  left: 45%;
  top:37%; }

.btn-primary{
  width: 30%;
 max-width: 145px;
 height: 44px;
  font-size: 0.95rem;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.btn-2{
   width: 30%;
 max-width: 145px;
 height: 44px;
  font-size: 0.95rem;
  font-weight:600 ;
  cursor: pointer;
  color: #00FF88;
border: 1px solid #00FF88;
background: none;
border-radius: 10000px;
}
.about-us{
  align-items: center;
  text-align: center;
}
.about-us-container h2{
  font-size: 3rem;
  font-style: 700;
  color: #FFFFFF;
}
.about-us-container .podcast-description{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 16px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 160px;

}
.card h1{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
}
.card p{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 94px;
}
.why-choose-us{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.grid-container{
  width: 71%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
  margin-top: 50px;
  margin-bottom: 120px;
}
.why-choose-us h1{
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 200px;
}
.card-1{
  grid-row: span 2;
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;
}
.card-2{
  grid-column: span 2;
   border-radius: 40px;
   background: rgba(53, 17, 101, 0.4);
   padding: 40px;
}
.card-3{
  grid-column: span 2;
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;
}
.card-4{
  grid-column: span 2;
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;
}
.card-5{
   border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;
}
.grid-heading{
  font-size: 1.5rem;
  font-weight: 24px;
  color: #FFFFFF;
  /* margin-left: 10px; */
}
.grid-description{
  font-size: 1rem;
   font-weight: 400;
   color: #FFFFFF;
}
